body {
  padding: 50px;
  font: 14px;
}
a {
  color: '#00b7FF';
}
#content {
  width: 800px;
  margin: auto;
}
#room {
  background: #ddd;
  height: 500px;
  margin-bottom: 1em;
}
#messages {
  width: 690px;
  height: 300px;
  background: #333;
}
